.main-content {
    padding: 2rem;

    display: grid;

    grid-template-rows: 1fr 3fr;

    

    gap: 3rem;
}

.address {
    color:aliceblue;
}

.addressError {
    display: flex;
    align-self: center;
    text-align: center;

    font-size: 2rem;

    color:aliceblue;
}

.main-content div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.3rem;

    color: aliceblue;
}

.main-content div:nth-child(2) {
    display: grid;

    grid-template-rows: 1fr 1fr 1fr;
}

.description,
.temperature,
#changeUnitGroup {
    display: flex;
    align-self: center;

    justify-self: center;
}

.description,
.temperature {
    color: aliceblue;
}

.description {
    text-align: center;
}

.temperature {
    font-size: 3rem;
}

#changeUnitGroup {
    padding: 1rem;
    border: 1px solid aliceblue;
    border-radius: 5rem;

    color: aliceblue;

    cursor: pointer;

    background-color: rgba(87, 55, 73, 0.3);

    transition: 0.3s;
}

#changeUnitGroup:hover {
    transform: scale(1.1);
}